# DVC controlled files
results/
# Model and data artifacts
*.bin
*.pt
*.pth
*.safetensors
*.ckpt

# MLflow and DVC
mlflow/
mlruns/
.dvc/
*.dvc
/data

# Python
src/__pycache__/
utils/__pycache__/
scripts/__pycache__/
*.pyc
__pycache__/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.vscode/
.DS_Store
notebooks/