# DVC controlled files
results/
data/evaluation/chatml_dataset_eval_dataset.jsonl
data/processed/chatml_dataset_fine_tuned_model.jsonl
data/processed/latest_dataset_reference.jsonl

# Model and data artifacts
*.bin
*.pt
*.pth
*.safetensors
*.ckpt
*.jsonl

# MLflow and DVC
mlflow/
mlruns/
.dvc/

# /data

# Python
src/__pycache__/
utils/__pycache__/
scripts/__pycache__/
*.pyc
__pycache__/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.vscode/
.DS_Store
notebooks/