# Data processing
pandas
numpy
# scikit-learn==1.0.0
textblob
emoji
contractions
nltk
spacy
symspellpy

# Deep learning
torch
transformers
datasets
sentence-transformers
peft
bitsandbytes

# MLOps tools
mlflow
dvc[s3]
dagshub
torchvision
# pyyaml==6.0

# HPO
optuna
# AWS integration
boto3
awscli

# Experiment tracking
huggingface_hub

# Environment management
python-dotenv

# Visualization
matplotlib
seaborn
plotly

# Notebook dependencies
ipywidgets
jupyter

# Frontend (if running locally)
streamlit